<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Play Battle</title>
</head>
<body>
  <h1><%= @game.player_1.name%> vs <%= @game.player_2.name%></h1>
  <h1><%= @game.player_1.name%>: Hit Points = 100\n<%= @game.player_2.name%>: Hit Points = 100'</h1>
  <a href="/attack"> attack </a>
</body>
</html>